{%- import "attr/common.j2" as Common -%}

{# LABLE #}
{%- macro lable_node(value, prefix) -%}
{%- if value is not none and value != "" -%}
<a:{{prefix}}a name="LABEL" value="{{value}}" />
{%- endif -%}
{%- endmacro -%}

