{%- import "attr/common.j2" as Common -%}

{%- macro __enable_node(type, tsts, value, prefix) -%}
{%- if type == "XPath" -%}
<a:{{prefix}}a name="ENABLE" type="XPath">
    {%- for tst in tsts -%}
    <a:tst  expr="{{-tst.expr-}}" 
            {{-Common.set_attr("true", tst.true_text)-}}
            {{-Common.set_attr("false", tst.false_text)-}} />
    {%- endfor -%}
</a:{{prefix}}a>
{%- else -%}
    {%- if value is not none -%}
        {%- if value is true -%}
<a:{{prefix}}a name="ENABLE" value="true"/>
        {%- else -%}
<a:{{prefix}}a name="ENABLE" value="false"/>
        {%- endif -%}
    {%- endif -%}
{%- endif -%}
{%- endmacro -%}

{# ENABLE Static Definition #}
{%- macro enable_node(EnableConfig, prefix) -%}
{{__enable_node(EnableConfig.type, EnableConfig.tsts, EnableConfig.value, prefix)}}
{%- endmacro -%}

