{%- import "attr/common.j2" as Common -%}

{# INVALID #}
{%- macro invalid_node(invalidConfig, prefix) -%}
{%- if invalidConfig is not none -%}
<a:{{prefix}}a {{- Common.set_attr("name", "INVALID") -}}
    {%- if (invalidConfig.xpath|default([]))|length > 0 and (invalidConfig.range|default([]))|length > 0 -%}
    {{- Common.set_attr("type", "Multi") -}} >
    <mt:xpath>
        {%- for xpath_tst in invalidConfig.xpath -%}
        <a:tst  {{- Common.set_attr("expr", xpath_tst.expr) -}}
                {{- Common.set_attr("true", xpath_tst.true_text) -}}
                {{- Common.set_attr("false", xpath_tst.false_text) -}} />
        {%- endfor -%}
    </mt:xpath>
    <mt:range>
        {%- for range_tst in invalidConfig.range -%}
        <a:tst  {{- Common.set_attr("expr", range_tst.expr) -}}
                {{- Common.set_attr("true", range_tst.true_text) -}}
                {{- Common.set_attr("false", range_tst.false_text) -}} />
        {%- endfor -%}
    </mt:range>
    {%- elif (invalidConfig.xpath|default([]))|length > 0 -%}
    {{- Common.set_attr("type", "XPath") -}} >
        {%- for tst in invalidConfig.xpath -%}
    <a:tst  {{- Common.set_attr("expr", tst.expr) -}}
            {{- Common.set_attr("true", tst.true_text) -}}
            {{- Common.set_attr("false", tst.false_text) -}} />
        {%- endfor -%}
    {%- elif (invalidConfig.range|default([]))|length > 0 -%}
    {{- Common.set_attr("type", "Range") -}} >
        {%- for tst in invalidConfig.range %}
    <a:tst  {{- Common.set_attr("expr", tst.expr) -}}
            {{- Common.set_attr("true", tst.true_text) -}}
            {{- Common.set_attr("false", tst.false_text) -}} />
        {%- endfor -%}
    {%- else -%} >
    {%- endif -%}
</a:{{prefix}}a>
{%- endif -%}
{%- endmacro -%}