{%- import "attr/common.j2" as Common -%}

{# VISIBLE #}
{%- macro __visible_node(type, tsts, value, prefix) -%}
{%- if type == "XPath" -%}
<a:{{prefix}}a name="VISIBLE" type="XPath">
    {%- for tst in tsts -%}
    <a:tst  expr="{{-tst.expr-}}" 
            {{-Common.set_attr("true", tst.true_text)-}}
            {{-Common.set_attr("false", tst.false_text)-}} />
    {%- endfor -%}
</a:{{prefix}}a>
{%- else -%}
    {%- if value is not none -%}
        {%- if value is true-%}
<a:{{prefix}}a name="VISIBLE" value="true"/>
        {%- else -%}
<a:{{prefix}}a name="VISIBLE" value="false"/>
        {%- endif -%}
    {%- endif -%}
{%- endif -%}
{%- endmacro -%}

{%- macro visible_node(config, prefix) -%}
{{__visible_node(config.type, config.tsts, config.value, prefix)}}
{%- endmacro -%}
