<database-service>
    <info>
        <name>{{ name }}</name>
        <type>{{ type }}</type>
        <port>{{ port }}</port>
        <enabled>{{ enabled }}</enabled>
    </info>
    <config>
        <max-connections>{{ max_connections }}</max-connections>
    </config>
</database-service>