<web-service>
    <info>
        <name>{{ name | reverse_string }}</name>
        <type>{{ type }}</type>
        <port>{{ port }}</port>
        <enabled>{{ enabled }}</enabled>
    </info>
    <endpoints>
        {{ CHILDREN_CONTEXT }}
    </endpoints>
</web-service>