<html>
    {% for paragrah in paragrahs %}
    <p>{{ paragrah }}</p>
    {% endfor %}

    {% for key, value in titles.items() %}
    <h1>{{key}}</h1>
        <p>{{value}}</p>
    {% endfor %}
</html>