<group0>
    {{ CHILDREN_CONTEXT0 | indent(4) }}
</group0>
<group1>
    {{ CHILDREN_CONTEXT1 | indent(4) }}
</group1>

<path_value path=".\children_0\ch0.yaml">
    <value> {{ ch0_value_expr | expr_filter | int }} </value>
</path_value>

<path_value path=".\children_1\ch1.yaml">
    <value> {{ ch1_value_expr | expr_filter | int }} </value>
</path_value>